<a href="https://colab.research.google.com/github/sanjotsingh10/Regression-problems/blob/main/Medical_Cost_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Medical cost prediction
Using regression try to predict the medical cost of a person based on their profile, their profile contains information like BMI, sex(male/female), number of children, Smoker(yes/no), region(southwest/northwest).

All the categorical variables(sex, Smoker & Region) needs to be changed to numerical values so that they can be handled by regression models.


> Link to Kaggle dataset: https://www.kaggle.com/datasets/mirichoi0218/insurance?resource=download

Performance of th models is calculated using R2_Score
R2 score obtained from different Regression models:

*   Multiple Linear regression - 74.01
*   Decision tree regression   - 72.91
*   Random forest regression   - 82.10
*   Support Vector regression  - -11.52

In [1]:
#cloning repository from github
!git clone https://github.com/sanjotsingh10/Regression-problems.git

Cloning into 'Regression-problems'...
remote: Enumerating objects: 16, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 16 (delta 3), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (16/16), done.

In [2]:
#importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [18]:
#read data from "Medical_cost_prediction_data.csv" 
df = pd.read_csv("/content/Regression-problems/Medical_cost_prediction_data.csv")

In [4]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
#checking if there are any null values
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [19]:
#Encoding categorical labels to numerical values
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])
df['smoker'] = le.fit_transform(df['smoker'])
df['region'] = le.fit_transform(df['region'])

In [20]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [21]:
X = df.iloc[:,:-1].values
Y = df.iloc[:,-1].values

In [23]:
Y

array([16884.924 ,  1725.5523,  4449.462 , ...,  1629.8335,  2007.945 ,
       29141.3603])

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state = 1)

## Multiple Linear regression

In [36]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [38]:
y_pred = reg.predict(x_test)

In [39]:
from sklearn.metrics import r2_score
print(100*r2_score(y_test,y_pred))

74.0367716897532

## Decision tree regression

In [40]:
from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor(random_state=0)
reg.fit(x_train,y_train)

DecisionTreeRegressor(random_state=0)

In [41]:
y_pred = reg.predict(x_test)

In [42]:
from sklearn.metrics import r2_score
print(100*r2_score(y_test,y_pred))

72.91722790094207

## Random forest regressor

In [43]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=10,criterion="squared_error",random_state=0)
reg.fit(x_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [44]:
y_pred = reg.predict(x_test)

In [45]:
from sklearn.metrics import r2_score
print(100*r2_score(y_test,y_pred))

82.10403355812726

## Support Vector regression

In [47]:
from sklearn.svm import SVR
reg = SVR(kernel="rbf")
reg.fit(x_train,y_train)

SVR()

In [49]:
y_pred = reg.predict(x_test)

In [50]:
from sklearn.metrics import r2_score
print(100*r2_score(y_test,y_pred))

-11.52457146266852